@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
    font-size: 16px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Outfit", sans-serif;
    background-color: hsl(212, 45%, 89%);
}

.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card {
    background-color: hsl(0, 0%, 100%);
    padding: 1rem;
    border-radius: 1.25rem;
    width: 20rem;
    box-shadow: 0 24px 24px rgba(0,0,0,0.05);
}

.card-image {
    margin: auto;
    border-radius: 0.5rem;
    display: block;
    width: 100%;
}

.card-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1.5rem 0;
    text-align: center;
    padding: 0 1rem;
}

.card-title {
    color: hsl(218, 44%, 22%);
    width: 100%;
    line-height: 1.25;
    font-size: 1.4rem;
    font-weight: 700;
}

.card-text {
    color: hsl(220, 15%, 55%);
    font-size: 0.9375rem;
    line-height: 1.3;
    font-weight: 400;
}

